<footer class="footer">
  
    <div class="container">
    
      <div class="row">
        
        <div class="col-md-6 col-lg-4">
          
          <div class="footer-blog">
          
            <h3>Menu</h3>
  
            <div>
              <a routerLink="/home">Home</a>
            </div>
  
            <div>
              <a routerLink="/perfumaria">Perfumaria</a>
            </div>
  
            <div>
              <a routerLink="/corpo-e-banho">Corpo e Banho</a>
            </div>
  
            <div>
              <a routerLink="/cabelos">Cabelos</a>
            </div>
          
            <div>
              <a routerLink="/rosto">Rosto</a>
            </div>

            <div>
              <a routerLink="/maquiagem">Maquiagem</a>
            </div>

            <div>
              <a routerLink="/infantil">Infantil</a>
            </div>

          </div>
  
        </div><!--Coluna 1-->
        
  
        <div class="col-md-6 col-lg-4">
        
          <div class="footer-tags">
            <h3>Formas de Pagamentos</h3>

            <div class="row">

              <div class="icon_form_pagamento col-md-3">
                <img src="../assets/img/img_icones/icon-elo.svg" style="width: 48px; height: 48px; padding: auto;">
              </div>
              
              <div class="icon_form_pagamento col-md-3">
                <img src="../assets/img/img_icones/icon-mastercard.svg" style="width: 48px; height: 48px; padding: auto;">
              </div>
  
              <div class="icon_form_pagamento col-md-3">
                <img src="../assets/img/img_icones/icon-visa.svg" style="width: 48px; height: 48px; padding: auto;">
              </div>
  
            </div>
           
          </div>
        
        </div>
        <!--Coluna 2-->  
  
        <div class="col-md-6 col-lg-4">
          
          <div class="footer-newsletter">
            
            <h3>Redes Socias</h3>

            <div class="row">

              <div class="icon_form_pagamento col-md-3">
                <a href="https://www.facebook.com/">
                  <img src="../assets/img/img_icones/icon-facebook.svg" style="width: 48px; height: 48px; padding: auto;">
                </a>            
              </div>
              
              <div class="icon_form_pagamento col-md-3">
                <a href="https://www.instagram.com/">
                  <img src="../assets/img/img_icones/icon-instagram.svg" style="width: 48px; height: 48px; padding: auto;">
                </a>
              </div>
  
              <div class="icon_form_pagamento col-md-3">
                <a href="https://twitter.com/">
                  <img src="../assets/img/img_icones/icon-twiter.svg" style="width: 48px; height: 48px; padding: auto;">
                </a>
              </div>

            </div>

          </div>

          <div class=" col-md-6 email_footer">
            <h4>E-mail</h4>
            <p>lindacosmeticos@gmail.com</p>
          </div>
          
  
        </div><!--Coluna 3-->
  
      </div><!--row-->
  
    </div><!--container-->
    
    <div class="copyright">
      <div class="container">
      
        <div class="row align-items-center">
          
          <div class="col-md-6">
            <div class="copy-text">
              <p>&copy; <a href="#">Linda Cosmeticos</a> - Todos os Direitos Reservados.</p>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="copy-menu">
              <a href="#">Termos de Uso</a>
              <a href="#">Privacidade</a>
            </div>
          </div>
        
        </div>
      
      </div><!--container-->
    </div><!--copyright-->
  
  </footer>