
<div class="container">

    <div class="title_top">
      <p>Linha para os Cabelos Linda Cosmeticos</p>
    </div>

    <div class="row row row-cols-3">

                  <div class="col d-flex align-items-center justify-content-center">
                      <div class="card" style="width: 15rem;">
                        <img src="../assets/img/img_cards/linha-de-cosmeticos/cabelos/img_cabelos.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">LUMINA</h5>
                            <p class="card-text">Kit Lumina Antiqueda e Crescimento</p>
                            <div class="card_formas_pagamento">
                              <div class="card_preco_desconto">
                                  
                                  <div class="card_preco_sifrao">
                                      <p>R$</p>
                                  </div>
                                  <div  class="card_preco">
                                      <p>59,90</p>
                                  </div>
                                  <div class="card_desconto">
                                      <p>-35%</p> 
                                  </div>              
                              </div>
                              <div class="card_parcelado">
                                  <p>ou 2x R$ 29,95</p>
                              </div>   
                            </div>
                            <div class="btn_card">
                              <a routerLink="/meus-pedidos" class="btn text">ADICIONAR</a>
                            </div>                  
                          </div>
                        </div>
                  </div>

                  <div class="col d-flex align-items-center justify-content-center">
                    <div class="card" style="width: 15rem;">
                      <img src="../assets/img/img_cards/linha-de-cosmeticos/cabelos/img_cabelos.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">LUMINA</h5>
                          <p class="card-text">Kit Lumina Antiqueda e Crescimento</p>
                          <div class="card_formas_pagamento">
                            <div class="card_preco_desconto">
                                
                                <div class="card_preco_sifrao">
                                    <p>R$</p>
                                </div>
                                <div  class="card_preco">
                                    <p>59,90</p>
                                </div>
                                <div class="card_desconto">
                                    <p>-35%</p> 
                                </div>              
                            </div>
                            <div class="card_parcelado">
                                <p>ou 2x R$ 29,95</p>
                            </div>   
                          </div>
                          <div class="btn_card">
                            <a routerLink="/meus-pedidos" class="btn text">ADICIONAR</a>
                          </div>                  
                        </div>
                      </div>
                </div>

                <div class="col d-flex align-items-center justify-content-center">
                  <div class="card" style="width: 15rem;">
                    <img src="../assets/img/img_cards/linha-de-cosmeticos/cabelos/img_cabelos.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">LUMINA</h5>
                        <p class="card-text">Kit Lumina Antiqueda e Crescimento</p>
                        <div class="card_formas_pagamento">
                          <div class="card_preco_desconto">
                              
                              <div class="card_preco_sifrao">
                                  <p>R$</p>
                              </div>
                              <div  class="card_preco">
                                  <p>59,90</p>
                              </div>
                              <div class="card_desconto">
                                  <p>-35%</p> 
                              </div>              
                          </div>
                          <div class="card_parcelado">
                              <p>ou 2x R$ 29,95</p>
                          </div>   
                        </div>
                        <div class="btn_card">
                          <a routerLink="/meus-pedidos" class="btn text">ADICIONAR</a>
                        </div>                  
                      </div>
                    </div>
              </div>

              <div class="col d-flex align-items-center justify-content-center">
                <div class="card" style="width: 15rem;">
                  <img src="../assets/img/img_cards/linha-de-cosmeticos/cabelos/img_cabelos.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">LUMINA</h5>
                      <p class="card-text">Kit Lumina Antiqueda e Crescimento</p>
                      <div class="card_formas_pagamento">
                        <div class="card_preco_desconto">
                            
                            <div class="card_preco_sifrao">
                                <p>R$</p>
                            </div>
                            <div  class="card_preco">
                                <p>59,90</p>
                            </div>
                            <div class="card_desconto">
                                <p>-35%</p> 
                            </div>              
                        </div>
                        <div class="card_parcelado">
                            <p>ou 2x R$ 29,95</p>
                        </div>   
                      </div>
                      <div class="btn_card">
                        <a routerLink="/meus-pedidos" class="btn text">ADICIONAR</a>
                      </div>                  
                    </div>
                  </div>
            </div>

            <div class="col d-flex align-items-center justify-content-center">
              <div class="card" style="width: 15rem;">
                <img src="../assets/img/img_cards/linha-de-cosmeticos/cabelos/img_cabelos.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">LUMINA</h5>
                    <p class="card-text">Kit Lumina Antiqueda e Crescimento</p>
                    <div class="card_formas_pagamento">
                      <div class="card_preco_desconto">
                          
                          <div class="card_preco_sifrao">
                              <p>R$</p>
                          </div>
                          <div  class="card_preco">
                              <p>59,90</p>
                          </div>
                          <div class="card_desconto">
                              <p>-35%</p> 
                          </div>              
                      </div>
                      <div class="card_parcelado">
                          <p>ou 2x R$ 29,95</p>
                      </div>   
                    </div>
                    <div class="btn_card">
                      <a routerLink="/meus-pedidos" class="btn text">ADICIONAR</a>
                    </div>                  
                  </div>
                </div>
          </div>

          <div class="col d-flex align-items-center justify-content-center">
            <div class="card" style="width: 15rem;">
              <img src="../assets/img/img_cards/linha-de-cosmeticos/cabelos/img_cabelos.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">LUMINA</h5>
                  <p class="card-text">Kit Lumina Antiqueda e Crescimento</p>
                  <div class="card_formas_pagamento">
                    <div class="card_preco_desconto">
                        
                        <div class="card_preco_sifrao">
                            <p>R$</p>
                        </div>
                        <div  class="card_preco">
                            <p>59,90</p>
                        </div>
                        <div class="card_desconto">
                            <p>-35%</p> 
                        </div>              
                    </div>
                    <div class="card_parcelado">
                        <p>ou 2x R$ 29,95</p>
                    </div>   
                  </div>
                  <div class="btn_card">
                    <a routerLink="/meus-pedidos" class="btn text">ADICIONAR</a>
                  </div>                  
                </div>
              </div>
        </div>
       
    </div>

</div>
