
<div class="container">

  <div class="title_top">
    <p>Linha Corpo e Banho Linda Cosmeticos</p>
  </div>

  <div class="row row-cols-3">


            <div class="col d-flex align-items-center justify-content-center">
                <div class="card" style="width: 15rem;">
                  <img src="../assets/img/img_cards/linha-de-cosmeticos/corpo-e-banho/img_corpo_e_banho.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">TODODIA</h5>
                      <p class="card-text">Creme Noturno Para o Corpo Tododia Todanoite</p>
                      <div class="card_formas_pagamento">
                        <div class="card_preco_desconto">
                            
                            <div class="card_preco_sifrao">
                                <p>R$</p>
                            </div>
                            <div  class="card_preco">
                                <p>33,00</p>
                            </div>
                            <div class="card_desconto">
                                <p>-60%</p> 
                            </div>              
                        </div>
                        <div class="card_parcelado">
                            <p>ou 2x R$ 16,50</p>
                        </div>   
                      </div>
                      <div class="btn_card">
                        <a routerLink="/meus-pedidos" class="btn text">ADICIONAR</a>
                      </div>                  
                    </div>
                  </div>
            </div>

            <div class="col d-flex align-items-center justify-content-center">
              <div class="card" style="width: 15rem;">
                <img src="../assets/img/img_cards/linha-de-cosmeticos/corpo-e-banho/img_corpo_e_banho.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">TODODIA</h5>
                    <p class="card-text">Creme Noturno Para o Corpo Tododia Todanoite</p>
                    <div class="card_formas_pagamento">
                      <div class="card_preco_desconto">
                          
                          <div class="card_preco_sifrao">
                              <p>R$</p>
                          </div>
                          <div  class="card_preco">
                              <p>33,00</p>
                          </div>
                          <div class="card_desconto">
                              <p>-60%</p> 
                          </div>              
                      </div>
                      <div class="card_parcelado">
                          <p>ou 2x R$ 16,50</p>
                      </div>   
                    </div>
                    <div class="btn_card">
                      <a routerLink="/meus-pedidos" class="btn text">ADICIONAR</a>
                    </div>                  
                  </div>
                </div>
          </div>

          <div class="col d-flex align-items-center justify-content-center">
            <div class="card" style="width: 15rem;">
              <img src="../assets/img/img_cards/linha-de-cosmeticos/corpo-e-banho/img_corpo_e_banho.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">TODODIA</h5>
                  <p class="card-text">Creme Noturno Para o Corpo Tododia Todanoite</p>
                  <div class="card_formas_pagamento">
                    <div class="card_preco_desconto">
                        
                        <div class="card_preco_sifrao">
                            <p>R$</p>
                        </div>
                        <div  class="card_preco">
                            <p>33,00</p>
                        </div>
                        <div class="card_desconto">
                            <p>-60%</p> 
                        </div>              
                    </div>
                    <div class="card_parcelado">
                        <p>ou 2x R$ 16,50</p>
                    </div>   
                  </div>
                  <div class="btn_card">
                    <a routerLink="/meus-pedidos" class="btn text">ADICIONAR</a>
                  </div>                  
                </div>
              </div>
        </div>

        <div class="col d-flex align-items-center justify-content-center">
          <div class="card" style="width: 15rem;">
            <img src="../assets/img/img_cards/linha-de-cosmeticos/corpo-e-banho/img_corpo_e_banho.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">TODODIA</h5>
                <p class="card-text">Creme Noturno Para o Corpo Tododia Todanoite</p>
                <div class="card_formas_pagamento">
                  <div class="card_preco_desconto">
                      
                      <div class="card_preco_sifrao">
                          <p>R$</p>
                      </div>
                      <div  class="card_preco">
                          <p>33,00</p>
                      </div>
                      <div class="card_desconto">
                          <p>-60%</p> 
                      </div>              
                  </div>
                  <div class="card_parcelado">
                      <p>ou 2x R$ 16,50</p>
                  </div>   
                </div>
                <div class="btn_card">
                  <a routerLink="/meus-pedidos" class="btn text">ADICIONAR</a>
                </div>                  
              </div>
            </div>
      </div>

      <div class="col d-flex align-items-center justify-content-center">
        <div class="card" style="width: 15rem;">
          <img src="../assets/img/img_cards/linha-de-cosmeticos/corpo-e-banho/img_corpo_e_banho.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">TODODIA</h5>
              <p class="card-text">Creme Noturno Para o Corpo Tododia Todanoite</p>
              <div class="card_formas_pagamento">
                <div class="card_preco_desconto">
                    
                    <div class="card_preco_sifrao">
                        <p>R$</p>
                    </div>
                    <div  class="card_preco">
                        <p>33,00</p>
                    </div>
                    <div class="card_desconto">
                        <p>-60%</p> 
                    </div>              
                </div>
                <div class="card_parcelado">
                    <p>ou 2x R$ 16,50</p>
                </div>   
              </div>
              <div class="btn_card">
                <a routerLink="/meus-pedidos" class="btn text">ADICIONAR</a>
              </div>                  
            </div>
          </div>
      </div>

      <div class="col d-flex align-items-center justify-content-center">
        <div class="card" style="width: 15rem;">
          <img src="../assets/img/img_cards/linha-de-cosmeticos/corpo-e-banho/img_corpo_e_banho.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">TODODIA</h5>
              <p class="card-text">Creme Noturno Para o Corpo Tododia Todanoite</p>
              <div class="card_formas_pagamento">
                <div class="card_preco_desconto">
                    
                    <div class="card_preco_sifrao">
                        <p>R$</p>
                    </div>
                    <div  class="card_preco">
                        <p>33,00</p>
                    </div>
                    <div class="card_desconto">
                        <p>-60%</p> 
                    </div>              
                </div>
                <div class="card_parcelado">
                    <p>ou 2x R$ 16,50</p>
                </div>   
              </div>
              <div class="btn_card">
                <a routerLink="/meus-pedidos" class="btn text">ADICIONAR</a>
              </div>                  
            </div>
          </div>
      </div>

  </div>

</div>
