
.menu{
    width: 100%;
    border-bottom: solid #993f5d;
    background-color: #ff69b4;
    margin-top: 5.5em;
}
.menu_principal{
    height: 25%;
    width: 100%;
}
.menu_submenu ul li a {
    color: #ffff;
    border-radius: 2.5rem;
}
.menu_submenu ul li a:hover {
    color: rgb(92, 90, 90);
    background-color: #ffff;
}

.menu_submenu_btn{ 
    color: #ffff;
}

.menu_submenu_btn:hover {
    color: rgb(92, 90, 90);
}

.navbar-nav li{
    padding: 0rem 1rem;
}

.material-icons {
    display: none;
}
