
<div class="teste-principal">

  <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
    <div class="carousel-inner">
      
      <div class="carousel-item active">
        
        <div class="card">
          <div class="img-wrapper">
            <img src="../assets/img/img_cards/img_perfume.jpg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">Perfumaria</h5>
            <p class="card-text">Venha conhecer nossa linha de produtos de perfumaria. Temos os melhores mercados.</p>
            <a routerLink="/perfumaria" class="btn btn_texto">Quero Conhecer</a>
          </div>
        </div>

        <div class="card">
          <div class="img-wrapper">
            <img src="../assets/img/img_cards/img_perfume.jpg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">Perfumaria</h5>
            <p class="card-text">Venha conhecer nossa linha de produtos de perfumaria. Temos os melhores mercados.</p>
            <a routerLink="/perfumaria" class="btn btn_texto">Quero Conhecer</a>
          </div>
        </div>

        <div class="card">
          <div class="img-wrapper">
            <img src="../assets/img/img_cards/img_perfume.jpg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">Perfumaria</h5>
            <p class="card-text">Venha conhecer nossa linha de produtos de perfumaria. Temos os melhores mercados.</p>
            <a routerLink="/perfumaria" class="btn btn_texto">Quero Conhecer</a>
          </div>
        </div>

      </div>
      <div class="carousel-item">

        <div class="card"> 
          <div class="img-wrapper">
            <img src="../assets/img/img_cards/img_corpo_e_banho.jpg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">Corpo e Banho</h5>
            <p class="card-text">Venha conhecer nossa linha de produtos para corpo e banho. Temos os melhores mercados.</p>
            <a routerLink="/corpo-e-banho" class="btn btn_texto">Quero Conhecer</a>
          </div>
        </div>

        <div class="card"> 
          <div class="img-wrapper">
            <img src="../assets/img/img_cards/img_corpo_e_banho.jpg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">Corpo e Banho</h5>
            <p class="card-text">Venha conhecer nossa linha de produtos para corpo e banho. Temos os melhores mercados.</p>
            <a routerLink="/corpo-e-banho" class="btn btn_texto">Quero Conhecer</a>
          </div>
        </div>

        <div class="card"> 
          <div class="img-wrapper">
            <img src="../assets/img/img_cards/img_corpo_e_banho.jpg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">Corpo e Banho</h5>
            <p class="card-text">Venha conhecer nossa linha de produtos para corpo e banho. Temos os melhores mercados.</p>
            <a routerLink="/corpo-e-banho" class="btn btn_texto">Quero Conhecer</a>
          </div>
        </div>

      </div>

      <div class="carousel-item">

        <div class="card">
          <div class="img-wrapper">
            <img src="../assets/img/img_cards/img_cabelo.jpg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">Cabelo</h5>
            <p class="card-text">Venha conhecer nossa linha de produtos para cabelo. Temos os melhores mercados.</p>
            <a routerLink="/cabelos" class="btn  btn_texto">Quero Conhecer</a>
          </div>
        </div>

      <div class="card">
        <div class="img-wrapper">
          <img src="../assets/img/img_cards/img_cabelo.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Cabelo</h5>
          <p class="card-text">Venha conhecer nossa linha de produtos para cabelo. Temos os melhores mercados.</p>
          <a routerLink="/cabelos" class="btn  btn_texto">Quero Conhecer</a>
        </div>
      </div>

      <div class="card">
        <div class="img-wrapper">
          <img src="../assets/img/img_cards/img_cabelo.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Cabelo</h5>
          <p class="card-text">Venha conhecer nossa linha de produtos para cabelo. Temos os melhores mercados.</p>
          <a routerLink="/cabelos" class="btn  btn_texto">Quero Conhecer</a>
        </div>
      </div>
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div>
