.title_top p {
    text-align: center;
    margin-top: 3rem;
    padding: 1rem;
    font-size: 24px;
    font-family: 'Arial';
    font-weight: lighter;
    color: #f03a95;
}
.card_preco_desconto {
    display: inline-flex;
}

.col {
    margin: 1rem 0;
}

.card_preco p{
    margin-bottom: -8px;
    padding: 0;
    font-size: 40px;
    font-weight: bolder;    
    align-self: flex-end;
    position: relative;
}

.card_preco_sifrao, .card_desconto {
    align-self: flex-end;
    position: relative;
}

.card_preco_sifrao p{
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
}

.card_desconto p{
    margin: 0 5px;
    border-radius: 4.5rem;
    color: #ffff;
    background-color: #f03a95;
}

.card_parcelado {
    width: 65%;
    position: relative;
    text-align: end;
    margin: 0;
}

.btn {
    width: 10rem;
    background-color: #ffff;
    border:  #dd2581 solid 1px;;
    color:  #dd2581;
  }
  
  .btn:hover {
    background-color: #dd2581;
    color:  #ffff;
    border:  #ffff solid 1px;
  }

  .btn_card {
    width: 100%;
    text-align: center;    
 }