
  <div class="container">    
      <div>
        <h5 class="title_cards">Linha de Cosmeticos da Linda Cosmeticos</h5>
      </div>
      <div class="row row row-cols-3">

            <div class="col c_1 d-flex align-items-center justify-content-center">
              <div class="card">
                  <img src="../assets/img/img_cards/img_perfume.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Perfumaria</h5>
                  <p class="card-text">Venha conhecer nossa linha de produtos de perfumaria. Temos os melhores mercados.</p>
                  <a routerLink="/perfumaria" class="btn btn_texto">Quero Conhecer</a>
                </div>
              </div>
            </div>

            <div class="col c_2 d-flex align-items-center justify-content-center">
              <div class="card"> 
                  <img src="../assets/img/img_cards/img_corpo_e_banho.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Corpo e Banho</h5>
                  <p class="card-text">Venha conhecer nossa linha de produtos para corpo e banho. Temos os melhores mercados.</p>
                  <a routerLink="/corpo-e-banho" class="btn btn_texto">Quero Conhecer</a>
                </div>
              </div>              
            </div>

            <div class="col c_3 d-flex align-items-center justify-content-center">
              <div class="card">
                  <img src="../assets/img/img_cards/img_cabelo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cabelo</h5>
                  <p class="card-text">Venha conhecer nossa linha de produtos para cabelo. Temos os melhores mercados.</p>
                  <a routerLink="/cabelos" class="btn  btn_texto">Quero Conhecer</a>
                </div>
              </div>
            </div>

            <div class="col c_4 d-flex align-items-center justify-content-center">
              <div class="card">
                  <img src="../assets/img/img_cards/img_rosto.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Rosto</h5>
                  <p class="card-text">Venha conhecer nossa linha de produtos para rosto. Temos os melhores mercados.</p>
                  <a routerLink="/rosto" class="btn btn_texto">Quero Conhecer</a>
                </div>
              </div>
            </div>

            <div class="col c_5 d-flex align-items-center justify-content-center">
              <div class="card">
                  <img src="../assets/img/img_cards/img_maquiagem.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Marquiagem</h5>
                  <p class="card-text">Venha conhecer nossa linha de produtos de maquiagem. Temos os melhores mercados.</p>
                  <a routerLink="/maquiagem" class="btn btn_texto">Quero Conhecer</a>
                </div>
              </div>
            </div>

            <div class="col c_6 d-flex align-items-center justify-content-center">
              <div class="card">
                  <img src="../assets/img/img_cards/img_infantil.jpg" class="card-img-top img_cads" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Infantil</h5>
                  <p class="card-text">Venha conhecer nossa linha de produtos infantis. Temos os melhores mercados.</p>
                  <a routerLink="/infantil" class="btn btn_texto">Quero Conhecer</a>
                </div>
              </div>
            </div>

      </div>
              
  </div>

  